<div class="center jumbotron">
  <h1>ALPHA BLOG</h1>
  <%= link_to "Sign up now", signup_path , class: "btn btn-danger btn-lg btn-xlarge" %>
</div>

<%= link_to "Alpha Blog", articles_path %> | <%= link_to 'About', about_path %>